# Septiembre 4

In [1]:
import numpy as np
import pandas as pd
import requests
import os

In [2]:
url='https://idconline.mx/laboral/salarios-minimos/salarios-minimos-1986-2007'
html = requests.get(url).content #requsts.get().content toma el contenido y lo muestra en codigo

In [14]:
file = 'salarios minimos'                          #nombre del archivo
if not os.path.isfile(file):                       #si no existe el nombre del archivo en la memoria has lo siguiente
    url = 'https://idconline.mx/laboral/salarios-minimos/salarios-minimos-1986-2007'   #url
    html = requests.get(url).content               #descarga el archivo
    df_list = pd.read_html(html, header = 1)       # leer el archivo, si vemos df_list muestra un arreglo
    df = df_list[-1]                               #toma el ultimo elemento
    df.to_csv('salarios_minimos.csv')              # gusrdarlo como tal
    print ('ha sido guardado')
    
else:
    df=pd.read_csv(file)
    print ('ya está descargado')

ha sido guardado

In [9]:
df

,ZLFN1,Resto del país,"""A""","""B""","""C""",Unnamed: 5,Unnamed: 6
0,23 de diciembre de 2019,1o. enero 2020,$185.56,$123.22,NaN,NaN,NaN
1,26 de diciembre de 2018,1o. enero 2019,$176.72,$102.68,NaN,NaN,NaN
2,21 de diciembre de 2017,1o. enero 2018,NaN,NaN,$88.36,NaN,NaN
3,24 de noviembre de 2017,1o. diciembre 2017,NaN,NaN,88.36,NaN,NaN
4,19 de diciembre de 2016,1o. enero 2017,NaN,NaN,80.04,NaN,NaN
5,18 de diciembre de 2015,1o. enero 2016,NaN,NaN,73.04,NaN,NaN
6,30 de septiembre de 2015,1o. octubre de 2015,NaN,NaN,70.10,NaN,NaN
7,30 de marzo de 2015,1o. abril 2015,NaN,NaN,70.10,68.28,NaN
8,29 de diciembre de 2014,1o. enero 2015,NaN,NaN,70.10,66.45,NaN
9,26 de diciembre de 2013,1o. enero 2014,NaN,NaN,67.29,63.77,NaN
10,21 de diciembre de 2012,1o. enero 2013,NaN,NaN,64.76,61.38,NaN
11,26 de noviembre de 2012,27 de noviembre 2012,NaN,NaN,62.33,59.08,N/A 2
12,19 de diciembre de 2011,1o. enero 2012,NaN,NaN,62.33,60.57,59.08
13,23 de diciembre de 2010,1o. enero 2011,NaN,NaN,59.82,58.13,56.70
14,23 de diciembre de 2009,1o. enero 2010,NaN,NaN,57.46,55.84,54.47
15,23 de diciembre de 2008,1o. enero 2009,NaN,NaN,54.80,53.26,51.95
16,27 de diciembre de 2007,1o. enero 2008,NaN,NaN,52.59,50.96,49.50
17,29 de diciembre de 2006,1o. enero 2007,NaN,NaN,50.57,49.00,47.60
18,26 de diciembre de 2005,1o. enero 2006,NaN,NaN,48.67,47.16,45.81
19,22 de diciembre de 2004,1° enero 2005,NaN,NaN,46.80,45.35,44.05
20,23 de diciembre de 2003,1º. enero 2004,NaN,NaN,45.24,43.73,42.11
21,26 de diciembre de 2002,1º. enero 2003,NaN,NaN,43.65,41.85,40.30
22,29 de diciembre de 2001,1º. enero 2002,NaN,NaN,42.15,40.10,38.30
23,27 de diciembre de 2000,1º. enero 2001,NaN,NaN,40.35,37.95,35.85
24,31 de diciembre de 1999,1º. enero 2000,NaN,NaN,37.90,35.10,32.70
25,2 de diciembre de 1998,1o. enero 1999,NaN,NaN,34.45,31.90,29.70
26,23 de diciembre de 1997,1o. enero 1998,NaN,NaN,30.20,28.00,26.00
27,2 de diciembre de 1996,1o. enero 1997,NaN,NaN,26.45,24.50,22.50
28,2 de diciembre de 1996,3 de diciembre 1996,NaN,NaN,26.45,24.50,22.50
29,28 de marzo de 1996,1o. abril 1996,NaN,NaN,22.60,20.95,19.05
30,2 de diciembre de 1995,1o. enero 1996,NaN,NaN,20.15,18.70,17.00
31,2 de diciembre 1995,4 de diciembre 1995,NaN,NaN,20.15,18.70,17.00
32,31 de marzo 1995,1o. abril 1995,NaN,NaN,18.30,17.00,15.44
33,21 de diciembre 1994,1o. enero 1995,NaN,NaN,16.34,15.18,13.79
34,13 de diciembre 1993,1o. enero 1994,NaN,NaN,15.27,14.19,12.89
35,7 de diciembre 1992,1o. enero 1993,NaN,NaN,N$ 14.27,N$ 13.26,N$ 12.05
36,4 de diciembre 1991,1o. enero 1992,NaN,NaN,13330.00,12320.00,11115.00
37,11 de noviembre 1991,11 de noviembre 1991,NaN,NaN,13330.00,12320.00,11115.00
38,24 de diciembre 1990,1o. enero 1991,NaN,NaN,11900.00,11000.00,9920.00
39,15 de noviembre 1990,16 de noviembre 1990,NaN,NaN,11900.00,11000.00,9920.00
40,4 de diciembre 1989,1o. enero 1990,NaN,NaN,10080.00,9325.00,8405.00
41,4 de diciembre 1989,4 de diciembre 1989,NaN,NaN,10080.00,9325.00,8405.00
42,26 de junio de 1989,1o. julio 1989,NaN,NaN,9160.00,8475.00,7640.00
43,14 de diciembre 1988,1o. enero 1989,NaN,NaN,8640.00,7995.00,7205.00
44,29 de febrero 1988,1o. marzo 1988,NaN,NaN,8000.00,7405.00,6670.00

In [6]:
df.values

array([['23 de diciembre de 2019', '1o. enero 2020', '$185.56',
        '$123.22', nan, nan, nan],
       ['26 de diciembre de 2018', '1o. enero 2019', '$176.72',
        '$102.68', nan, nan, nan],
       ['21 de diciembre de 2017', '1o. enero 2018', nan, nan, '$88.36',
        nan, nan],
       ['24 de noviembre de 2017', '1o. diciembre 2017', nan, nan,
        '88.36', nan, nan],
       ['19 de diciembre de 2016', '1o. enero 2017', nan, nan, '80.04',
        nan, nan],
       ['18 de diciembre de 2015', '1o. enero 2016', nan, nan, '73.04',
        nan, nan],
       ['30 de septiembre de 2015', '1o. octubre de 2015', nan, nan,
        '70.10', nan, nan],
       ['30 de marzo de 2015', '1o. abril 2015', nan, nan, '70.10',
        '68.28', nan],
       ['29 de diciembre de 2014', '1o. enero 2015', nan, nan, '70.10',
        '66.45', nan],
       ['26 de diciembre de 2013', '1o. enero 2014', nan, nan, '67.29',
        '63.77', nan],
       ['21 de diciembre de 2012', '1o. enero 2013', nan, nan, '64.76',
        '61.38', nan],
       ['26 de noviembre de 2012', '27 de noviembre 2012', nan, nan,
        '62.33', '59.08', 'N/A\xa02'],
       ['19 de diciembre de 2011', '1o. enero 2012', nan, nan, '62.33',
        '60.57', '59.08'],
       ['23 de diciembre de 2010', '1o. enero 2011', nan, nan, '59.82',
        '58.13', '56.70'],
       ['23 de diciembre de 2009', '1o. enero 2010', nan, nan, '57.46',
        '55.84', '54.47'],
       ['23 de diciembre de 2008', '1o. enero 2009', nan, nan, '54.80',
        '53.26', '51.95'],
       ['27 de diciembre de 2007', '1o. enero 2008', nan, nan, '52.59',
        '50.96', '49.50'],
       ['29 de diciembre de 2006', '1o. enero 2007', nan, nan, '50.57',
        '49.00', '47.60'],
       ['26 de diciembre de 2005', '1o. enero 2006', nan, nan, '48.67',
        '47.16', '45.81'],
       ['22 de diciembre de 2004', '1° enero 2005', nan, nan, '46.80',
        '45.35', '44.05'],
       ['23 de diciembre de 2003', '1º. enero 2004', nan, nan, '45.24',
        '43.73', '42.11'],
       ['26 de diciembre de 2002', '1º. enero 2003', nan, nan, '43.65',
        '41.85', '40.30'],
       ['29 de diciembre de 2001', '1º. enero 2002', nan, nan, '42.15',
        '40.10', '38.30'],
       ['27 de diciembre de 2000', '1º. enero 2001', nan, nan, '40.35',
        '37.95', '35.85'],
       ['31 de diciembre de 1999', '1º. enero 2000', nan, nan, '37.90',
        '35.10', '32.70'],
       ['2 de diciembre de 1998', '1o. enero 1999', nan, nan, '34.45',
        '31.90', '29.70'],
       ['23 de diciembre de 1997', '1o. enero 1998', nan, nan, '30.20',
        '28.00', '26.00'],
       ['2 de diciembre de 1996', '1o. enero 1997', nan, nan, '26.45',
        '24.50', '22.50'],
       ['2 de diciembre de 1996', '3 de diciembre 1996', nan, nan,
        '26.45', '24.50', '22.50'],
       ['28 de marzo de 1996', '1o. abril 1996', nan, nan, '22.60',
        '20.95', '19.05'],
       ['2 de diciembre de 1995', '1o. enero 1996', nan, nan, '20.15',
        '18.70', '17.00'],
       ['2 de diciembre\xa01995', '4 de diciembre 1995', nan, nan,
        '20.15', '18.70', '17.00'],
       ['31 de marzo\xa01995', '1o. abril 1995', nan, nan, '18.30',
        '17.00', '15.44'],
       ['21 de diciembre\xa01994', '1o. enero 1995', nan, nan, '16.34',
        '15.18', '13.79'],
       ['13 de diciembre\xa01993', '1o. enero 1994', nan, nan, '15.27',
        '14.19', '12.89'],
       ['7 de diciembre\xa01992', '1o. enero 1993', nan, nan, 'N$ 14.27',
        'N$ 13.26', 'N$ 12.05'],
       ['4 de diciembre\xa01991', '1o. enero 1992', nan, nan, '13330.00',
        '12320.00', '11115.00'],
       ['11 de noviembre\xa01991', '11 de noviembre 1991', nan, nan,
        '13330.00', '12320.00', '11115.00'],
       ['24 de diciembre\xa01990', '1o. enero 1991', nan, nan,
        '11900.00', '11000.00', '9920.00'],
       ['15 de noviembre\xa01990', '16 de noviembre 1990', nan, nan,
        '11900.00', '11000.00', '9920.00'],
       ['4 de diciembre\xa01989', '1o. enero 1990', nan, nan, '10080.00',
        '9325.00', '8405.00'],
       ['4 de diciembre\xa01989', '4 de diciembre 1989', nan, nan,
        '10080.00', '9325.00', '8405.00'],
       ['26 de junio de 1989', '1o. julio 1989', nan, nan, '9160.00',
        '8475.00', '7640.00'],
       ['14 de diciembre\xa01988', '1o. enero 1989', nan, nan, '8640.00',
        '7995.00', '7205.00'],
       ['29 de febrero\xa01988', '1o. marzo 1988', nan, nan, '8000.00',
        '7405.00', '6670.00']], dtype=object)